name: Publish Nist.Registration
on:
  push:
    paths:
      - 'dotnet/registration/**'
      - '.github/workflows/nuget-registration.yaml'
  workflow_dispatch:

jobs:
  publish:
    name: Pack & Publish nuget
    runs-on: ubuntu-latest
    steps:
      - uses: astorDev/versy/calver/nuget@main
        with:
          project: dotnet/registration/Nist.Registration
          nuget-api-key: ${{ secrets.NUGET_API_KEY }}