name: Publish Nist.Responses
on:
  push:
    paths:
      - 'dotnet/responses/lib/**'
      - '.github/workflows/nuget-responses.yaml'
  workflow_dispatch:

jobs:
  publish:
    name: Pack & Publish nuget
    runs-on: ubuntu-latest
    steps:
      - uses: astorDev/versy/calver/nuget@main
        with:
          project: dotnet/responses/lib/Nist.Responses
          nuget-api-key: ${{ secrets.NUGET_API_KEY }}